<div data-ng-controller="loginController">

    <div class="container">

        <form name="userForm" data-ng-submit="login()" class="form-signin" novalidate>
            <h2 class="form-signin-heading">Please sign in</h2>

            <div class="form-group" ng-class="{ 'has-error' :
                  userForm.email.$invalid && !userForm.email.$pristine }">

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" autofocus
                       ng-model="user.Email"
                       required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : 
                 userForm.password.$invalid && !userForm.password.$pristine }">

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                       ng-model="user.Password"
                       ng-minlength="5"
                       ng-maxlength="10"
                       required>
                <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>

            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button ng-disabled="userForm.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>



    </div>
</div>
